/* ============================= */
/* ===== Allgemeine Styles ===== */
/* ============================= */

.section-style-2{
	
	background-color:#F1EEB2;
}



/* ======================================= */
/* ===== Section 1: Navigationszeile ===== */
/* ======================================= */

.nav-bar-section{
	background-color: black;
}

/* ================================ */
/* ===== Section 2: Überblick ===== */
/* ================================ */
#überblick {
  padding: 10%;
}

.überblick-links {
  padding-top: 10%;
}

.btn {
  margin: 10% 0;
}

/* =============================== */
/* ===== Section 3: Features ===== */
/* =============================== */

/* Dein Code */.feature-box {
  padding: 5%;
}

.icon {
  color: #df7857;
  margin-bottom: 10%;
}


/* ================================== */
/* ===== Section 4: Bewertungen ===== */
/* ================================== */

/* Dein Code *//* ================================== */
/* ===== Section 4: Bewertungen ===== */
/* ================================== */
#bewertungen {
  padding: 5%;
}
.bewertung-text {
  font-size: 40px;
  margin: 0 10%;
}
.bewertung-bild {
  width: 10%;
  border-radius: 100%;
  margin: 2%;
}

/* ============================= */
/* ===== Section 5: Preise ===== */
/* ============================= */
.card{
	background-color:#EEE8AA;
}
/* Dein Code */#preise {
    padding: 5% 15%;
}

/* ============================= */
/* ===== Section 6: Footer ===== */
/* ====================
/* Dein Code */